{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minha Aplicação Django{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>
<body class="bg-gray-950 text-white">
    {% block content %}{% endblock %}
</body>
</html>
